    
/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
height: 100%; }

/* Full Page Carousel itself*/
.carousel {
    height: 100%; 
}
.carousel .carousel-inner {
    height: 100%; 
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%; 
}

/* Navbar animation */
.navbar {
    /* background-color: rgba(0, 0, 0, 0.2); */
    padding-bottom: 0 !important;
    box-shadow: none !important;    
}
.navbar-toggler{
    padding-bottom: 10px;
}
.navbar-nav>li{
    transition-duration: 0s !important;
}
.navbar-nav>li>a:hover{
    transition-duration: 0s !important;
}
.nav-item>a {
    color:inherit !important;
    padding-bottom: 20px;
   
}
.nav-item:hover  {
    border-bottom: solid white;
    color:white !important;
    
}

.nav-item{
    color:#ddd !important;
    padding-bottom: 0px;
}
.active{
    border-bottom:solid  white;
    
    
}
.active > a {
    background-color: inherit !important;
    color: white !important;
}
.top-nav-collapse {
    background-color: rgb(27, 32, 73);
    padding-top: 12px !important;
 }
#logIn{
    text-align: center;
    padding-bottom:12px; 
}
#logIn>a{
    padding: 8px;

}
#logIn:hover{
    border: 0px;
}
#logIn>a:hover{
    border: solid 2px;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
.navbar {
    background-color:rgb(27, 32, 73); } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
background-color: rgb(27, 32, 73); }